fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.5
pydantic-core==2.27.2
email-validator==2.2.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-dotenv==1.0.1
reportlab==4.2.5
boto3==1.37.0
bcrypt==4.2.1
